:root {
  --accent: rgb(189,147,249);
  --accent-alpha-70: rgba(189,147,249,.7);
  --accent-alpha-20: rgba(189,147,249,.2);

  --background: #282a36;
  --color: #f8f8f2;
  --border-color: rgba(189, 147, 249, .15);
}
